<h2>Об эппе</h2>
<p> Данное приложение совмещает полезное с приятным: теперь у девушек появилась возможность узнать на сколько процентов они настоящие келинки и пройти специальный курс Келiн </p>

<h2>Особенности</h2>
<ul>
  <li>Первый Казахстанский апп для будуших келинок</li>
  <li> Обучение лучших рецептов казахской национальной кухни, с легким применением</li>
  <li> Обучение разделено на уровни, что делает курс легким и увлекательным, а главное- полезным! <a href="#">ссылкой</a></li>
</ul>

{% if site.app.inclide_subscription_form %}
{% include subscription.html %}
{% endif %}

<hr/>

<a href="#">Ваше имя со ссылкой на сайт</a>
